  
*{
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
    
}


#intro{
  height: 100vh;
  background-image: url("assets/bgi3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  position: relative;
}


.diamond{
    background:rgba(0, 0, 0, 0.2);
    min-height:490px;
    min-width:490px;
    -moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.unrotated{
    -moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

.unrotated h1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 12%;
    margin-left: 4%;
    width: 100%;
}

.unrotated h4{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 27%;
    margin-left: -3%;
    width: 100%;
}

.unrotated h5{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 35%;
    margin-left: 13%;
    width: 100%;
}


.chevron {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    margin-bottom: 10px;
    animation: bounce 1.5s ease-in-out infinite;
  }
  
  
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px); /* Adjust the bounce height if needed */
    }
}
  

#about{
    min-height: 800px;
}
.skills-heading-box{
    width: 100%;
    height: 100%;
    min-height: 600px;
}
.skills{
    background: linear-gradient(to bottom, black 0%, #030923 20%, #030923 80%, #030923 90%, black 100%);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 10%;
    padding-bottom: 10%;
}
  
.skill-headings-light{
    color:rgb(0, 0, 0);
    padding-top:2rem;
    text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;
    font-size: 4rem;
}

.skill-headings-dark{
    color:rgb(255, 255, 255);
    padding-top:2rem;
    font-size: 4rem;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
            
}
.skill-card{
    width: 120px;
    margin: 8% 1%;
}

.container{
    background-color: #030923;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    border-radius: 15px;
}

.line{
    border: 0;
    height: 1px;
    background: #000000;
    width: 100%;
    margin: 5px auto;
    margin-bottom: 3%;
}

.line-white{
    border: 0;
    height: 1px;
    background: #ffffff;
    width: 100%;
    margin: 5px auto;
    margin-bottom: 3%;
}

.linkedin-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 35%;
    margin-left: 17%;
    width: 100%;
    color: white;
}

.linkedin-icon-txt{
    margin-left:-3%;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.5s linear,opacity 0.1s linear;
}

.resume-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 35%;
    margin-left: 30%;
    width: 100%;
}

.resume-icon-txt{
    margin-left: -3%;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.5s linear,opacity 0.1s linear;
}

.github-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 35%;
    margin-left: 42%;
    width: 100%;    
}

.github-icon-txt{
    margin-left: -1%;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.5s linear,opacity 0.1s linear;
}


.linkedin-icon:hover .linkedin-icon-txt{
    visibility: visible;
    opacity: 1;
}

.resume-icon:hover .resume-icon-txt{
    visibility: visible;
    opacity: 1;
}

.github-icon:hover .github-icon-txt{
    visibility: visible;
    opacity: 1;
}

.contact{
    padding-bottom: 350px;
    background: linear-gradient(to top, #ADB5BD, #FFFFFF);
}

.contact-box{
    margin: 0 auto;
    width: 65%
    
}

@media only screen and (max-width: 1024px) {
    .contact-box{
        width: 100%;
    }
}


.about-me-text{
    width: 70%;
    line-height: 2;
    margin: 0 auto;
    min-height: 300px;
}

@media only screen and (max-width: 1024px) {
    .about-me-text{
        width: 100%;
    }
}


.dark-card{
    background-color: #191919;
    color:white;
}

.card-header-title{
    color: inherit;
}

.ict{
    color: Black;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 

}

.bottom-chevron{
    padding-top: 175px;
    font-size: 2rem;
    color:#000000;
    animation: bounce 1.3s ease-in-out infinite;
}



@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Adjust the bounce height if needed */
  }
}

.thick-line{
    background-color: #ffffff;
    height: 12px;
}



.hidden-div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible-div {
    opacity: 1;
    transform: translateY(0);
}


.off-grey{
    background-color: #F8F9FA;
}

.mailcon{
    color: #212529
}




.test-grid {
    background-color: transparent;
    background-image:
        linear-gradient(30deg, transparent 24%, rgba(0, 26, 44, .05) 25%, rgba(0, 26, 44, .05) 26%, transparent 27%, transparent 74%, rgba(0, 26, 44, .05) 75%, rgba(0, 26, 44, .05) 76%, transparent 77%, transparent),
        linear-gradient(120deg, transparent 24%, rgba(0, 26, 44, .05) 25%, rgba(0, 26, 44, .05) 26%, transparent 27%, transparent 74%, rgba(0, 26, 44, .05) 75%, rgba(0, 26, 44, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 86.6px;
}


.footer{
    background: linear-gradient(to bottom, #030923, black);
}